/*底部区域*/
$bottom-height: 62px;
$bottom-btn-font-size: 18px;
$bottom-btn-radius: 14px;
$border-state: 1px solid #ededf0;

/*头部区域*/
$header-height: 44px;

/*颜色*/
$green-primary-color: #08b783;
$green-active-color: #13d098;

$orange-active-color: #ffa94d;
$orange-primary-color: #ff8d13;
/**/