//字体
$fontsize_ss: 2.4vh;
$fontsize_s: 2.7vh;
$fontsize: 3vh;
$fontsize_b: 3.3vh;
$fontsize_bb: 3.6vh;
$fontsize_bbb: 4vh;
//行高
$lineheight_ss: 3.4vh;
$lineheight_s: 4vh;
$lineheight: 4vh;
$lineheight_b: 4.3vh;
$lineheight_bb: 4.6vh;
//圆角
$borderradius: 0.5vh;
//填空点宽度和下划线颜色
$poswidth: 12vh;
$poscolor: #53a1bc;
//div margin padding
$divmargin: 1vh;

//颜色
$greencolor: #00b121;
$bluecolor: #458bc3;
$redcolor: #fe5757;
//脱式计算分数里的字体行高
$fontsize_f: 2.4vh;
$lineheight_f: 2.6vh;

.iminputdiv {
  color: #333333;
  display: block;
  border: 3px solid #eeeeee;
  padding: $divmargin/2 $divmargin/2 $divmargin/2 0;
  width: 99%;
  min-height: $lineheight_b*2;
  font-size: $fontsize;
  border: 1px solid #d9d9d9;
  &.red {
    color: $redcolor;
  }
  &.green {
    color: $greencolor;
  }
  .aime {
    display: inline-block;
    min-height: $lineheight_s;
    font-size: $fontsize;
  }
  .space {
    display: inline-block;
    width: 10px;
    height: $lineheight_s;
  }
  .row {
    width: 100%;
    min-height: $lineheight_s;
    //margin-bottom: 1px;
    padding-left: 3px;
    //overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    white-space: initial;
    word-wrap: break-word;
    //display: flex;
    //align-items: center;
    &.red {
      color: $redcolor;
    }
    &.green {
      color: $greencolor;
    }
  }
  .cursor {
    height: 3vh;
    width: 1px;
    //overflow: hidden;
    color: transparent;
    display: inline-block;
    background: url("images/cursor.gif") no-repeat scroll 0 0 transparent;
    margin-left: -1px;
    &:after {
      content: '|';
      opacity: 0;
      width: 1px;
    }
    font-size: 2.5vh;
  }
  .equal {
    color: #000000;
  }

  .fraction {
    font-size: 90%;
    text-align: center;
    background: #dddddd;
    padding: 1px 3px;
    vertical-align: -.8em;
    display: inline-block;
    &.click {
      background: transparent;
    }

    .up {
      border-bottom: 1px solid #000;
    }
  }

  .up, .down, .aimsup, .aimsub {
    &:after {
      content: '1';
      opacity: 0;
      width: 0;
      display: inline-block;
    }
  }

  .sqrt2, .sqrt3 {
    display: inline-block;
    font-size: 90%;
    //line-height: 0;
    min-height: $lineheight;
    min-width: $fontsize;
    text-align: center;
    margin-left: 1px;
    padding-left: $lineheight/2;
    //font-size: 0;
    &.click {
      background-color: transparent;
    }
    .up {
      display: none;
    }
    .down {
      border-top: $lineheight/20 solid #000000;
      min-width: $fontsize;
    }
  }

  .sqrt2 {
    background: url("images/sqrt2_input.png") no-repeat scroll 0 0 transparent;
    background-size: auto 100%;
  }

  .enterdiv {
    display: block;
    height: 4vh;
    padding: 2px;
    white-space: nowrap;
    min-width: 18px;
    .aime {
      display: inline-block;
      font-size: $fontsize;
      min-height: auto;
    }
    .cursor {
      height: 3vh;
    }
  }

  .sqrt3 {
    background: url("images/sqrt3_input.png") no-repeat scroll 0 0 transparent;
    background-size: auto 100%;
  }

  .aimsup, .aimsub {
    display: inline-block;
    min-height: $lineheight * 1.5;
    padding-top: $lineheight * .5;
    padding-right: 2px;
    text-align: center;
    margin-left: 1px;
    &.click {
      min-width: $fontsize;
      background: transparent;
      //.enterdiv {
      //  min-width: $lineheight*0.75;
      //  background: transparent;
      //  &.up {
      //    text-align: center;
      //    border: 1px solid #cccccc;
      //  }
      //  &.down {
      //    text-align: center;
      //    border: 1px solid #cccccc;
      //    min-width: $lineheight/2;
      //  }
      //}
    }
    .enterdiv {
      float: left;
      padding: 0 2px;
      background: #dddddd;
    }
    .up {
      min-width: 15px;
    }
    .down {
      position: relative;
      top: -.5em;
      min-width: 12px;
      .aime {
        font-size: 2.4vh;
      }
    }
  }

  .aimsub {
    .down {
      position: relative;
      top: .5em;
      min-width: 12px;
      .aime {
        font-size: 2.4vh;
      }
    }
  }

}

.qti_fill_input {
  display: inline-block;
  width: auto;
  min-width: 12vh;
  font-size: 3vh;
  border: none;
  border-bottom: 0.2vh solid #53a1bc;
  min-height: 4vh;
  &:after {
    content: '1';
    opacity: 0;
    display: inline-block;
    width: 0;
  }
}

.custom {
  min-height: auto;
  padding: 4px;
  box-sizing: border-box;
  width: 100%;
}

